tecsgen/tecslib/bak/tecs2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.toppers.jp/tecs.html" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GUI_Tool">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signature" type="signatureType" />
        <xs:element maxOccurs="unbounded" name="celltype" type="celltypeType" />
        <xs:element maxOccurs="unbounded" name="cell" type="cellType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="signatureType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="func">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="rettype" type="xs:string" />
            <xs:element name="param">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="name" type="xs:string" />
                  <xs:element name="type" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="celltypeType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element minOccurs="0" name="call">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="signame" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="entry">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="signame" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cellType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element minOccurs="0" name="call_join">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="rhs" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
