tecsgen/tecslib/bak/tecs.dtd.bak

<!ELEMENT name         (#PCDATA)>
<!ELEMENT signame      (#PCDATA)>
<!ELEMENT expr         (#PCDATA)>
<!ELEMENT subscript    (#PCDATA)>
<!ELEMENT rhs          (#PCDATA)>
<!ELEMENT type         (#PCDATA)>

<!ELEMENT fileName     (#PCDATA)>
<!ELEMENT format       (#PCDATA)>
<!ELEMENT factoryParam (#PCDATA)>

<!ELEMENT typedef   (name, type)>
<!ELEMENT const     (name, expr)>

<!ELEMENT attr      (name,  expr?)>
<!ELEMENT var       (name,  expr?)>
<!ELEMENT call      (name,  signame, subscript?)>
<!ELEMENT entry     (name,  signame, subscript?)>
<!ELEMENT factory   (fileName, format, factoryParam*)>
<!ELEMENT celltype  (name, ((attr|var|call|entry|factory|FACTORY)*))>

<!ELEMENT attr_join (name, rhs, subscript?) >
<!ELEMENT call_join (name, rhs, subscript?) >
<!ELEMENT cell      (name, (attr_join | call_join)*)>

<!ELEMENT func      (name, rettype, param*)>
<!ELEMENT signature (name, func+)>
<!ELEMENT cdl       (( typedef | const | signature | celltype | cell )*)>

